@use 'sass:color';

// statusbar window
window.statusbar {
  min-height: 20px;
  background-color: transparent;
  font-size: 14px;
}

.statusbar-container {
  background-color: color-mix(in srgb, var(--window-bg-color) 95%, transparent);

  border-radius: 12px;

  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;

  padding: 4px 8px;

  outline-style: solid;
  outline-color: var(--border-color);
  outline-width: 2px;
  outline-offset: -2px;

  transition: outline-color ease-out 250ms;
}
window.statusbar:hover > .statusbar-container {
  outline-color: var(--accent-bg-color);
}

// popover
popover {
  &> contents {
    padding: 8px 12px;
    margin-top: 2px;

    outline-style: solid;
    outline-color: var(--accent-bg-color);
    outline-width: 2px;
    outline-offset: -2px;

    background-color: color-mix(in srgb, var(--window-bg-color) 95%, transparent);
  }

  &:not(.left):not(.right):not(.top) > contents {
    margin-top: 2px;
  }
  &.left > contents {
    margin-right: 11px;
  }
  &.right > contents {
    margin-left: 11px;
  }
  &.top > contents {
    margin-bottom: 2px;
  }
}

// dialog
.dialog {
  padding: 8px 12px;
  border-radius: 0px;
}

// general
.pill {
  border-radius: 9999px;
}
.rounded {
  border-radius: 2%;
}
.icon, .icon * {
  -gtk-icon-style: symbolic;
}
.color-icon, .color-icon * {
  -gtk-icon-style: regular;
}
.title {
  font-weight: 700;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
image.refreshing, .refreshing image {
  animation: spin 2s linear infinite;
}

button, menubutton, togglebutton {
  padding-top: 2px;
  padding-bottom: 2px;

  transition: color background-color 300ms ease-out;

  &.small, &.small > button {
    padding-left: 12px;
    padding-right: 12px;
  }

  &.invisible:not(:hover):not(:checked):not(.active),
  &.invisible:not(:hover):not(:checked):not(.active) > button {
    background-color: transparent;
  }

  &:checked, &.active {
    background-color: var(--accent-bg-color);
    color: var(--window-bg-color);

    &:hover {
      background-color: color-mix(in srgb, var(--accent-bg-color) 90%, black);
    }
  }
}

.hide-slider slider {
  transform: scale(0);
  transition: transform ease-out 250ms;
}
.hide-slider:hover slider {
  transform: scale(0.5);
}

entry.invalid {
  outline-style: solid;
  outline-color: var(--accent-red);
  outline-width: 2px;
  outline-offset: -2px;
}

// workspaces
.workspace {
  background-color: color-mix(in srgb, currentColor 50%, transparent);
  border-radius: 9999px;
  min-width: 8px;
  min-height: 8px;
  transition: min-width 250ms ease-out;
}
.workspace.focused {
  animation: workspace-switch 250ms ease-out forwards;
  min-width: 20px;
  background-color: currentColor;
}

@keyframes workspace-switch {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

// music-player
.music {
  font-size: 14px;
  font-weight: 500;
}

// calendar
.calendar {
  min-width: 275px;
}

.calendar-weekday {
  font-size: 14px;
  font-weight: 800;

  &.sunday {
    color: var(--accent-color);
  }
}

.calendar-day {
  font-size: 14px;
  font-weight: 600;

  --fg: var(--popover-fg-color);
  --bg: var(--popover-bg-color);
  color: var(--fg);
  background-color: var(--bg);

  &.today {
    background-color: var(--fg);
    color: var(--bg);

    border-radius: 4px;
  }

  &.sunday {
    --fg: var(--accent-color);
  }
}

// Network
.wifi-ap {
  border-radius: 2%;

  &.hidden-ap {
    opacity: 0.5;
  }

  &.active-ap, &.connecting-ap {
    outline-style: solid;
    outline-color: var(--border-color);
    outline-width: 2px;
    outline-offset: -2px;
  }
}
